<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-5 px-5 px-sm-0 mx-aute">
      <h2>Editing Book</h2>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @book do |f| %>
        <label for="inputName">Title</label>
        <%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"名前"%>
         <label for="inputName">Opinion</label>
        <%= f.text_field :body, autofocus: true, id:"inputName", placeholder:"名前"%>
        <%= f.submit "Update Book", class:"btn btn-success" %>

        <%= link_to "Show", book_path(@book.id) %>
        <%= link_to "Back", books_path %>

      <% end %>
    </div>
  </div>
</div>